@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1><i class="glyphicon glyphicon-shopping-cart"></i> Unimarket</h1>
    <br />
    <p class="lead"> Sistema para gestão de compras em comércios</p>
    <br />
    <p><a href="/Vendas" class="btn btn-primary btn-lg">Gerenciar Vendas &raquo;</a></p>
</div>
